/* navagation */
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
/* home section */
#home{
height: 370px;
padding: 3px 68px;
}

#home::before{
    height: 500px;
}

#home p{
    font-size: 13px;

}
/* services section  */
#services{
    flex-direction: column;

}

#service .box{
    padding: 14px;
    margin: 3px 0px;
    margin-bottom: 20px;

}

/* client section  */
#clients{
    flex-wrap: wrap;

}

#clients img{
    width: 175px;
    padding: 0px;
    height: auto;
}
/* contact us section  */
#contactbox form{
    width: 80%;
}

/* footer section   */

/* utility classes  */
.hprimary{
    font-size: 26px;
}

.btn{
    font-size: 13px;
    padding: 4px 8px;
}