/* CSS RESET */
* {
    margin: 0px;
    padding: 0px;

}
html{
    scroll-behavior: smooth;
}

/* CSS VARIABLES */
:root {
    --navbar-hight: 59px;
}

/* Nevigation Bar  */
#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;

}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

/* Nevigation Bar: Logo and Image  */
#logo {
    margin: 10px 34px;
}

#logo img {
    margin: 3px 6px;
    height: 80px;
}


/* Nevigation Bar: List Styling  */
#navbar ul {
    display: flex;
    font-family: 'Secular One', sans-serif;
}



#navbar ul li {

    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    display: block;
    border-radius: 20px;
    text-decoration: none;
    padding: 3px 22px;
}

#navbar ul li a:hover {
    color: rgb(0, 0, 0);
    background-color: white;

}

/* Home section  */

#home {
    display: flex;
    flex-direction: column;
    height: 310px;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}

#home::before {

    content: "";
    background: url(pexels-photo-1552252.jpeg) no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 60%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Secular One', sans-serif;
    font-size: 40px;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1rem;
    font-family: 'Bree Serif', serif;

}

/* Services section  */
#services {
    margin: 34px;
    display: flex;

}

#services .box {
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
   border-radius: 50px;
   background-color: #c2bfbf;
    margin-bottom: 25px;

}

#services .box img {
    display: block;
    margin: auto;
    width: 180px;



}

#services .box p {
    font-family: 'Secular One', sans-serif;
    font-size: 12px;
}


/* Clients Sections */
#clients {
    display: flex;
    justify-content: center;
    align-items: center;

}

.clientitem {
    padding: 40px 34px;

}

#clientsection {
position: relative;
}

#clientsection::before {
    content: " ";
    position: absolute;
    background: url(gym4.jpg) no-repeat center center/cover;
    width: 100%;
    height: 45%;
    z-index: -1;
    opacity: 0.4;


}

#clients img {
    height: 150px;

}

/* contact section  */
#contact {
    position: relative;
    
}

#contact::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(gym1.jpg) no-repeat center center/cover;
}
#contactbox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 34px;
}

#contactbox input,
#contactbox textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;

}
#contactbox form{
    width: 40%;

}
#contactbox label{
font-size: 1.3rem;
font-family: 'Bree Serif', serif;

}


footer{
    background: black;    
    color: white;
    padding: 9px 20px;
}

/* Utility class  */

.hprimary {
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;

}

.hsecondary {
    font-size: 2.8rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
    font-size: 1.3rem;
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 25px;
    cursor: pointer;
}

.center {
    text-align: center;
}